body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefae0;
}

header {
  background-color: #ccd5ae;
  padding: 20px;
  text-align: center;
  color: white;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 48px;

}

form {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #ccd5ae;
  color: white;
  border: none;
  border-radius: 5px;
}

li {
  background-color: white;
  margin: 5px 1px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 5px; 
}


.task-text {
  flex-grow: 1;
}

.task-buttons {
  display: flex;
  gap: 5px;
}

.input-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button.clear-list-btn {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #ccd5ae;
  color: white;
  border: none;
  border-radius: 5px;
  height: fit-content;
}

.task-count {
  padding: 10px;
  background-color: #ccd5ae;
  color: white;
  border: none;
  border-radius: 5px;
  height: fit-content;
  margin-left: 10px;
  font-size: 14px;
}

/* sort filter */

.sort-filter-buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


